
div{
    width: 49%;
    background-color: aqua;
    /* display: block; */
    /* display: inline-block; */
}

nav{
    background-color: aquamarine;
}

li{
    display: inline;
    /* display: inline-block; */
    background-color: black;
    color: white;
    padding: 10px 6px;
}

/* img{
    display: none;
    opacity: 0;
} */