.contenedor1 {
    background-color: aqua;
    width: auto;
    height: 50px;
}


.contenedor2 {
    background-color: rgb(255, 251, 0);
    width: auto;
    max-width: 1000px;
    min-width: 800px;
}


.diferencia{
    background-color: limegreen;
    padding: 1rem;
    font-size: 2rem;
    /* width: 100%;
    width: auto; */
    margin-left: 200px;
}


.contenedor3 {
    background-color: aquamarine;
    height: 100vh;
}


