html {
    font-size: 62.5%;
}

.contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.fa-bars, .barsdeco {
    display: none;
}

.pintar a,
.pintar i {
    color: white;
}

.imagenContenedor {
    background-image: url(build/img/header5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 60rem;
}


.pintar:hover {
    background-color: white;
    transition: ease .40s;

}

.pintar:not(:hover) {
    transition: ease .40s;
}

.categoria {
    font-size: x-large;
    margin-right: 2rem;
    text-decoration: none;
    font-family: 'Dosis', sans-serif;
}

.fa-solid {
    font-size: x-large;
    margin-right: 2rem;
    text-decoration: none;
}

.pintar:hover a,
.pintar:hover i {
    color: black;
    cursor: pointer;
}

/* Estilos para los enlaces */
.categoria {
    color: #333;
    /* EXPLICAR LA especificidad */
    border-bottom: 2px solid transparent;
    /* Línea inicial transparente */

}

/* Animación al hacer hover */
.categoria:hover {
    border-color: #f00;
    /* Cambiamos el color de la línea al hacer hover */
    transition: ease .5s;
}

.centrar {
    display: grid;
    place-content: center;
}

.h2 {
    font-size: calc(1rem + 5vw);
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Hammersmith One', sans-serif;
    font-weight: 100;
}

.contenedorMain {
    width: 80%;
    margin: 0 auto;
}


@media (max-width: 768px) {
    .contenedorMain {
        width: auto;
    }
}

.contenedorMarcas {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    gap: 2rem;
}

.marcas {
    width: 5%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;
    }
}



.hiddenEfecto {
    overflow: hidden;
}

.producto {
    background-color: maroon;
    padding: 2rem 1rem 5rem 1rem;
}

.producto:hover {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    background-color: rgb(167, 0, 0);
    padding: 2rem 1rem 5rem 1rem;
    transition: ease-in-out .5s;
}

.imagenGrid {
    width: 100%;
}

.producto:hover .imagenGrid {
    scale: 1.1;
    transition: ease-in-out .5s;
}

.producto:not(:hover),
.imagenGrid:not(:hover) {
    transition: ease-in-out .5s;
}

.texto {
    font-size: 5rem;
    margin: 0;
    color: white;
    text-align: center;
}

.dinero {
    margin: 0;
    font-size: 2rem;
    color: aliceblue;
    text-align: center;
}

.imagenesMuestra {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 1rem;
    grid-column: 2/4;
    grid-row: 2/3;
}

.imagenesMuestra img {
    width: 100%;
    height: 100%;
}

.adidas {
    transform: scaleX(-1);
}

.muestraAdidas {
    grid-column: 1/3;
    grid-row: 4/5;
}

@media (max-width: 768px) {
    .imagenesMuestra {
        grid-column: 1/3;
        grid-row: 3/4;
    }


    .muestraAdidas {
        grid-column: 1/3;
        grid-row: 5/6;
    }
}

.footer {
    background-color: maroon;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5rem;
    padding: 2rem;
}

.footer__elemento,
.footer__imagen {
    display: flex;
    align-items: center;
}

.footer__elemento,
.footer__anclas {
    text-decoration: none;
    font-size: calc(.5rem + 1vw);
    color: white;
    gap: 3rem;
    font-family: 'Dosis', sans-serif;
}

.imagenfooter {
    width: 20vw;
    margin-left: 20rem;
}


@media (max-width: 768px) {
    .footer__elemento {
        flex-direction: column;
    }

    .imagenfooter {
        margin: 0;
    }
}

@media (max-width: 768px) {
    .producto:last-child {
        display: none;
    }

    .contenedor>div {
        display: none;
    }

    .contenedor picture {
        display: flex;
        margin: 0 auto;
    }

    .fa-bars, .barsdeco {
        display: flex;
        text-decoration: none;
    }

    .pintar:hover {
        background-color: transparent;
        transition: none;
    }

    .contenedorMarcas{
        gap: .5rem;
        margin-bottom: 1rem;
    }
    .marcas{
        width: 100%;
    }

}