<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Dos</title>
</head>

<body>
    <h1>Proyecto</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint minus sunt voluptatum cupiditate! Velit,
        consectetur facilis aliquid laboriosam deleniti iusto, quisquam saepe distinctio quasi, numquam quia alias
        veritatis? Sed, perferendis.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint minus sunt voluptatum cupiditate! Velit,
        consectetur facilis aliquid laboriosam deleniti iusto, quisquam saepe distinctio quasi, numquam quia alias
        veritatis? Sed, perferendis.</p>
    <a href="../../index.html"> <img src="../../img/picture/html.png" alt=""> </a>

</body>

</html>