//COLORES
$azul: #5DADE2 ;
$gris: #34495E ;
$azulOscuro: #072661  ;
$azulOscuro2: #006bc8 ;
$negro: black ;
$blanco: white ;

//FUENTES
$titulos: 'Bebas Neue', sans-serif;
$principal: 'Inter', sans-serif;
$secundaria: 'Arimo', sans-serif;
